.OurTeam {
    width: 100%;
    height: 640px;
    position: absolute;
    top: 4250px;
    background-image: url('../../assets/BG5.png');
}

.H1 {
    font-family: Days One;
    font-weight: 400;
    font-size: 40px;
    line-height: 50.92px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 77px;
}

.collector {
    position: relative;
    top: 160px;
    display: flex;
    justify-content: center;
    gap: 120px;
}

.card {
    width: 364px;
    height: 364px;
}