* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-collector {
    background-image: url('./assets/BG1.png');
    background-size: cover;
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
}